.buttonsgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 30%;
}

.buttonsgrid button{
    font-size: large;
    padding:8px;
}

h1{
    color: blue;
}